<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/auth.css">
    <title>Register</title>
</head>
<body>
    <div class="center">
        <h1>Register</h1>
        <%if(failure_message !=''){%>
            <p style="color: red; text-align: center; margin-bottom: 5px;"><%=failure_message%></p>
            <%}%>
        <hr>
        <form action="/register" method="POST">
            <input type="text" name="name" placeholder="Name">
            <input type="text" name="email" placeholder="email">
            <input type="password" name="password" placeholder="password">
            <button type="submit">Register</button>
            <p>Already a member? <a href="/login">Login</a></p>
        </form>      
    </div>
</body>
</html>